<!DOCTYPE html>
{% extends 'admin_home.html' %}
{% load crispy_forms_filters %}
{% block content %}

<body>
 <div class="row">
     <div class="col-12 grid-margin">
         <div class="card">
             <div class="card-body">
                  <h5>Add Report</h5>
                 <div class="row">
                     <div class="col-sm-12">
                         <form method="POST">{% csrf_token %}
                             {{form|crispy}}
                             <button type="submit" class="btn btn-primary">SUBMIT</button>
                         </form>
                     </div>
                 </div>
             </div>
        </div>
     </div>
 </div>
{% endblock %}