<!DOCTYPE html>
{% extends 'admin_home.html' %}
{% load static %}
{% block content %}
    <title>View User</title>
<div class="row">
      <div class="col-12 grid-margin">
          <div class="card">
              <div class="card-body">
                  <center><h2>View User</h2></center>
                  <div class="row">
                      <div class="col-sm-12">
                          <div class="table-responsive">
                              <table class="table table-striped">
                              <thead>
                              <tr>
                                  <th scope="col">SI No</th>
                                  <th scope="col">Name</th>
                                  <th scope="col">Contact_No</th>
                                  <th scope="col">Address</th>
                                  <th scope="col">Child_Name</th>
                                  <th scope="col">Child_Gender</th>
                                  <th scope="col">Delete</th>
                              </tr>
                              </thead>
                              <tbody>
                              {% for i in user %}
                              <tr>
                                  <td>{{ forloop.counter }}</td>
                                  <td>{{i.name}}</td>
                                  <td>{{i.contact_no}}</td>
                                  <td>{{i.address}}</td>
                                  <td>{{i.child_name}}</td>
                                  <td>{{i.child_gender}}</td>
                                  <td>
                                       <form action="{% url 'user_delete' i.id %}" method='POST'
                                                style="display:inline;" onsubmit=" ">
                                              {% csrf_token %}
                                              <input type="hidden" name="group" value="{{ i.id }}">
                                              <button type="submit" class="btn btn-dark" >DELETE</button>
                                          </form>
                                  </td>
                              </tr>
                              {% endfor %}
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
{% endblock %}
