<!DOCTYPE html>
{% extends 'nursetemp/nurse_home.html' %}
{% load static %}
{% block content %}
    <title>View User</title>
<div class="row">
      <div class="col-12 grid-margin">
          <div class="card">
              <div class="card-body">
                  <center><h2>VIEW USER</h2></center>
                  <div class="row">
                      <form method="get" class="form-inline " style="float:right;">
                          <div class="md-form my-0">
                              {{userFilter.form }}
                              <button class="btn btn-primary mr-2" type="submit">Search</button>
                          </div>
                          <div class="col-sm-12">
                              <div class="table-responsive">
                                  <table class="table table-striped">
                                      <thead>
                                      <tr>
                                          <th scope="col">SI No</th>
                                          <th scope="col">Name</th>
                                          <th scope="col">Contact_No</th>
                                          <th scope="col">Address</th>
                                          <th scope="col">Child_Name</th>
                                          <th scope="col">Child_Gender</th>
                                      </tr>
                                      </thead>
                                      <tbody>
                                      {% for i in user %}
                                      <tr>
                                          <td>{{ forloop.counter }}</td>
                                          <td>{{i.name}}</td>
                                          <td>{{i.contact_no}}</td>
                                          <td>{{i.address}}</td>
                                          <td>{{i.child_name}}</td>
                                          <td>{{i.child_gender}}</td>
                                      </tr>
                                      {% endfor %}
                                      </tbody>
                                  </table>
                              </div>
                          </div>
                      </form>
                  </div>
          </div>
      </div>
  </div>
</div>
{% endblock %}
